<div class="app-container">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <nav class="navbar" style="background-color: #e3f2fd;">
    <h1 class="heading"><i class="bi bi-bootstrap-fill"></i>
      Handy HandOuts</h1>

    <div class="button-container">
      
      <a class="nav-link active" aria-current="page" (click)="routeToOauth()">Login</a>
      <a class="nav-link active" aria-current="page" (click)="logout()">Register</a>
    </div>
  </nav>
  <main>
    <router-outlet></router-outlet>
  </main>
  <footer>
    <div class="foot">
      <a href="https://github.com/sowmya-yalamarthi/HandyHandouts-Backend">Backend Repo</a>
      <a href="https://github.com/sowmya-yalamarthi/HandyHandouts/blob/main/proposal.md">proposal</a>
      <a href="https://github.com/sowmya-yalamarthi/HandyHandouts/wiki">Wiki</a>
      <a href="https://reports.cucumber.io/report-collections/be4400f5-192d-4d4c-9742-22783bd7148d">Test Report</a>
      <a href="https://github.com/sowmya-yalamarthi?tab=projects&type=beta">Project Board</a>
      <a href="https://github.com/sowmya-yalamarthi/HandyHandouts/issues">Issues</a>
      <a href="https://github.com/sowmya-yalamarthi/HandyHandouts/milestones">Milestones</a>
    </div>
  </footer>
</div>
