<div class="app-container">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <nav class="navbar" style="background-color: #e3f2fd;">
    <h1 class="heading"><i class="bi bi-bootstrap-fill"></i>
      Handy HandOuts</h1>

    <div class="button-container">
      
      <a class="nav-link active" aria-current="page" (click)="navigateToLogin()">Login</a>
      <a class="nav-link active" aria-current="page" (click)="navigateToRegister()">Register</a>
      <a class="nav-link active" aria-current="page" (click)="logout()">Logout</a>
    </div>
  </nav>
  <main>
    <router-outlet></router-outlet>
  </main>
  <footer>
    <div class="foot">
      <a href="https://github.com/sowmya-yalamarthi/HandyHandouts-Backend">Backend Repo</a>
      <a href="https://github.com/sowmya-yalamarthi/HandyHandouts/blob/main/proposal.md">Link to proposal</a>
      <a href="https://github.com/sowmya-yalamarthi/HandyHandouts/wiki">Link to Wiki</a>
    </div>
  </footer>
</div>
