.app-container {
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
  
    .heading {
      font-size: 35px;
      right: 50%;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
  
    .button-container {
      cursor: pointer;
      float: right;
      margin: 10px;
      display: flex;
  
      .margin-right {
        margin-right: 20px;
      }
    }
  
    .login {
      margin-top: 30px;
      width: 500px;
      margin: 0 auto;
    }
  }

  .input-section{
    margin-top: 20px;
    margin-left: 20px;
    button{
      margin-left: 20px;
    }
  }


  @media only screen and (max-width: 760px) {
    .app-container {
      .heading {
        font-size: 1rem;
        margin-bottom: 0px;
      }
  
      .button-container {
        margin: 0px;
  
        .nav-link {
          padding: .5rem .5rem;
        }
      }
    }
  }

  footer {
    text-align: center;
    padding: 3px;
    background-color: rgb(30,30,60);
    color: white;
  }
  .foot{
    padding: 20px;
    display:flex;
    justify-content: space-around;
  }
  
  main{
    height: calc(100vh - 139px);
  }