.app-container {
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    
    .heading {
      font-size: 35px;
      right: 50%;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
  
    .button-container {
      cursor: pointer;
      float: right;
      margin: 10px;
      display: flex;
      justify-content: space-around;
  
     
    }
  
    
  }

  .input-section{
    margin-top: 20px;
    margin-left: 20px;
    button{
      margin-left: 20px;
    }
  }


  @media only screen and (max-width: 760px) {
    .app-container {
      .heading {
        font-size: 1rem;
        margin-bottom: 0px;
      }
  
      .button-container {
        margin: 0px;
  
        .nav-link {
          padding: .5rem .5rem;
        }
      }
    }
  }

  footer {
    text-align: center;
    padding: 3px;
    background-color: rgb(30,30,60);
    color: white;
  }
  .foot{
    padding: 20px;
    display:flex;
    justify-content: space-around;
  }
 
  
  main{
    height: calc(100vh - 139px);
  }


  /* Dropdown Button */
.btn {
  background-color: #2196F3;
  color: white;
  display: flex;
  padding: 16px;
  font-size: 16px;
  border: none;
  outline: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
 
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.btn:hover, .dropdown:hover .btn  {
  background-color: #0b7dda;
}